/*-- Body Reset --*/
body {
    background: #ccccce;
    overflow-x: hidden;
    font-family: 'Optima', sans-serif;
    color: black;
  }
  
  /*============= TOP BAR HEADER =============*/
  
  .top-bar {
      background: #682d80;
      height: 2.8rem;
      padding: .5rem 0;
  }
  .top-bar p {
    color: white;
    font-size: 1.1rem;
  }
   
  /*============= NAVIGATION =============*/
  
  .navbar-brand img {
    height:3rem; 
  }
  .navbar {
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
    z-index: 1;
  }
  .nav-item {
    padding: .5rem;
  }
  .nav-link {
    color: #5b5555!important;
  } 
  .nav-link.active,
  .nav-link:hover {
    color: #501269!important
  }
  
  
  /*============= CAROUSEL =============*/
  
  #carousel {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
  }
  .carousel-inner {
    max-height: 38rem!important;
  }
  
  /*-- Carousel Content --*/
  .carousel-caption {
    position: absolute;
    top: 42%;
    transform: translateY(-50%)
  }
  .bg-custom {
    background-color: rgba(0, 0, 0, .4);
    color: white;
    border-radius: 1rem;
  }
  .carousel-caption h1 {
    font-size: 3.8rem;
    text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
  }
  .carousel-caption h6 {
    font-size: 1.2rem;
    text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 1);
  }
   

  /*===== MODAL CREATE ACCOUNT SECTION =====*/
  .bg-modal {
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .modal-content {
    width: 450px;
    height: 235px;
    background-color: white;
    border-radius: 4px; 
    text-align: center;
    padding: 20px;
    position: relative;
  }
  .modal-input-form {
    width: 80%;
    display: block;
    margin: 15px auto;
  }
  .close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
  }


  /*===== MODAL LOG IN SECTION =====*/
 .content{
   margin: 8%;
   background-color: white;
   padding: 4rem 1rem 4rem 1rem;
 }
 .form-control {
   display: block;
   width: 100%;
   font-size: 1rem;
   font-weight: 400;
   Line-height: 1.5;
   border-color: gray !important;
   border-style: solid !important;
   border-width: 0 0 1px 0 !important;
   padding: 0px !important;
   height: auto;
   border-radius: 0;
   background-clip: padding-box;
 }


  /*===== THERAPIST PAGE =====*/
 .therapist-name-text {
   font-size: 3.0rem;
 }
 .therapist-info-group {
   font-size: 1.5rem;
 }
 .therapist-header {
   background: black;
   height: 10.0rem;
   margin-bottom: 10px;
   padding: 20px
 }
 .therapist-caption h1 {
  font-size: 3.5rem;
  color: white;
 }
 .therapist-caption p {
   color: white
 }
 .county-caption h5 {
  padding: 0px 100px 0px;
 }
 .county-caption button {
  padding: 0px 50px 0px;
  margin-left: 100px
 }


  /*===== THERAPIST DETAIL PAGE =====*/

  /* Image and Name Title */
  .therapist-details-one {
    background: black;
    padding: 2rem;
    margin: 0px 90px 0px 90px;
  }
  .therapist-details-one h1{
    color: white;
    text-align: center;
  }
  .therapist-img img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }

  /* Embroidery Pattern Page Separator */
  .one {
    background: #0727b3;
    padding: .3rem;
    margin: 0px 90px 0px 90px;
  }
  .two {
    background: #bdc72f;
    padding: .3rem;
    margin: 0px 90px 0px 90px;
  }
  .three {
    background: #4dc72f;
    padding: .3rem;
    margin: 0px 90px 0px 90px;
  }
  .four {
    background: #c72f94;
    padding: .8rem;
    margin: 0px 90px 0px 90px;
  }
  .five {
    padding: .2rem;
    margin-top: -8px;
    margin-left: 3px;
  }

  /* 3 Col Email, Website, County Info */
  .therapist-details-two {
    background: white;
    padding: 2rem;
    margin: -23px 90px 0px 90px;
  }

  /* Description */
  .therapist-details-three {
    background: white;
    padding: 2rem;
    margin: -23px 90px 0px 90px;
  }
  .therapist-details-three p {
    font-size: 1.3rem;
    


  
  /*============= FOOTER =============*/
  

  
  /* Devices under 1199px (xl) */
  @media (max-width: 1199.98px) {
  
  }
  /* Devices under 768px (md) */
  @media (max-width: 767.98px) {
  
  }
  
  
  /*============ BOOTSTRAP BREAK POINTS:
  
  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap
  
  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  
  =============*/
  
  /*-- Bootstrap Mobile Gutter Fix --*/
  .row, .container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  
  /*-- Fixed Background Image --*/
  .fixed-background {
    position: relative;
    width: 100%;
    z-index: 1000!important;
  }
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
  }
  .fixed {
    z-index: -999!important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
  }