{% extends 'base.html' %}
{% block title %}Hmong Mental Health Today Homepage{% endblock title %}

{% block body %}
    <!-- Image Carousel -->
    <div id="carousel" class="carousel slide" data-ride="carousel"
        data-interval="650000">

    <!-- Carousel Content -->
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img src="static/images/hmongimg.jpg" alt="" class="w-100">
          <div class="carousel-caption">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-8 bg-custom d-none d-md-block py-3 px-0">
                  <h1>Hmong Mental Health Today</h1>
                  <div class="border-top border-light w-50 mx-auto my-3"></div>
                  <h5 class="pb-3">It is now more important than ever for healing and for reflection. 
                    Let's push towards healthy changes today.</h5>
                  <a href="#" id="make-account-button" class="btn btn-light btn-lrg">Make an Account</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    <!-- MODAL SECTION --> 
    <div class="bg-modal">
        <div class="modal-content">
          <div class="create-account-close"><div class="close"><b>+</b></div></div>
            <form action="/create_account" method=POST>
              <div>
                <h5><b>Create Account</b></h5>
                <p>Please enter an email, password, and zipcode</p>
              </div>
                <div class="modal-input-form">
                  <label for="email">Email</label>
                  <input type="text" name="email" placeholder="email" id="email" required>
                  <div>
                    <div class="modal-input-form">
                      <label for="email">Password</label>
                      <input type="password" name="password" placeholder="password" id="password" required>
                    </div>
                    <div class="modal-input-form">
                      <label for="email">Email</label>
                      <input type="zipcode" name="zipcode" placeholder="zipcode" id="zipcode">
                    </div>
                    <input type="submit" value="Create Account"> 
            </form>
        </div>
    </div>

    <!--<h2>Make an Account</h2>
    <form action='/create_user' method=POST>
            <p>
            <label>Email</label> <input type='text' name='email' placeholder='email' id='email' required>
            </p>
            <p>
                <label>Password</label> <input type='password' name='password' placeholder='password' id='password' required>
            </p>
            <p>
                <label>Zipcode</label> <input type='zipcode' name='zipcode' placeholder='zipcode' id='zipcode'>
            </p>
            <p>
            <input type='submit' value='Create User'>
            </p>
    </form>

    <h5>OR</h5>
    <form action='/login'>
        <button type="submit" value='Submit'>Login</button>
        
        <div>
            <p>
            <label>Email</label> <input type='text' name='email'> 
            </p>
            <p>
                <label>Password</label> <input type='password' name='password'>
            </p>
            <p>
            <input type='submit'>
            </p>
        </div> 
    </form>--->

{% endblock %}