{% extends 'base.html' %}
{% block title %}Hmong Mental Health Today Homepage{% endblock title %}

{% block body %}

    <h1>Hmong Mental Health Today</h1>
    <p>Many of us have been deeply wounded by our history and the generations before us,
        so it is now more important than ever for healing and for reflection.
        Let's continue to push towards healthy changes today.
    </p>


    <h2>Make an Account</h2>
    <form action='/create_user' method=POST>
            <p>
            <label>Email</label> <input type='text' name='email' placeholder='email' id='email' required>
            </p>
            <p>
                <label>Password</label> <input type='password' name='password' placeholder='password' id='password' required>
            </p>
            <p>
                <label>Zipcode</label> <input type='zipcode' name='zipcode' placeholder='zipcode' id='zipcode'>
            </p>
            <p>
            <input type='submit' value='Create User'>
            </p>
    </form>

    <h5>OR</h5>
    <form action='/login'>
        <button type="submit" value='Submit'>Login</button>
        <!--
        <div>
            <p>
            <label>Email</label> <input type='text' name='email'> 
            </p>
            <p>
                <label>Password</label> <input type='password' name='password'>
            </p>
            <p>
            <input type='submit'>
            </p>
        </div> --->
    </form>

{% endblock %}