{% extends 'base.html' %}

{% block title %} Hmong Therapists in Ramsey County {% endblock title %}

{% block body %}
<div class="therapist-header">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="therapist-caption">
                <h1><b><i>Therapist(s) in Ramsey County</i></b></h1>
                <p>Local to the Twin Cities in Metro Area of Minnesota.</p>
            </div>
        </div>
    </div>
</div> 

<div class="therapist-county-filter">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div id="county-list">
                <div class="county-caption">
                    <h5>Filter by County:</h5>
                    <form id="select-county">
                        <input type="radio" name="county" value="dakota">
                        <label>Dakota</label>
                        <input type="radio" name="county" value="hennepin">
                        <label>Hennepin</label>
                        <input type="radio" name="county" value="ramsey">
                        <label>Ramsey</label>
                        <input type="radio" name="county" value="washington">
                        <label>Washington</label>
                        <p>
                            <button type="submit" class="btn btn-outline-dark btn-md">continue</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    {% for therapist in therapists %}
    {% if therapist.county == "Ramsey" %}
    <div class="container">
            
        <div class="therapist row content">
            <div class="col-md-6 mb-3">
                <img src="{{ therapist.img }}" class="w-50" alt="therapist-image">
            </div>
    
            <div class="col-md-6">
                <h2 class="therapist-name-text mb-3">{{ therapist.name }}</h2>
    
                <div>
                    <div class="therapist-info-group">
                        <p class="therapist-info">Practices at {{ therapist.clinic }} in {{ therapist.county }} County.</p>
                    </div>
                    <div class="therapist-info-group">
                        <p class="therapist-info"><b>Email:</b> {{ therapist.email }}</p>
                    </div>
                    <a href='/therapists/{{ therapist.thrpst_id}}' class="btn btn-outline-dark btn-md">
                        More Details
                    </a>
 
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
{% endblock %}