{% extends 'base.html' %}
{% block title %}{{ therapist.name }} - Details{% endblock title %}

{% block body %}
<!-- Image and Name Title -->
<div class="therapist-details-one">
    <div class="container-fluid">
        <div class=".col-6 .col-sm-4">
            <div class="therapist-img">
                <img src="{{ therapist.img }}" alt="therapist-image">
            </div>
            <p><h1><b>{{ therapist.name }}</b></h1></p>
        </div>
    </div>
</div>
<!-- Embroidery Pattern Page Separator -->
<div class="one">
</div>
<div class="two">
</div>
<div class="three">
</div>
<div class="four">
</div>
<div class="container">
    <div class="five">
        <b>▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼</b>
    </div>
</div>

<!-- 3 Col Email, Website, County Info -->
<div class="therapist-details-two">
    <div class="row text-center" id="featurerow">
        <section class="col feature">
            <h5 class="font-weight-bold"><i class="fas fa-envelope"></i></h5>
            <h5 class="font-weight-bold">{{ therapist.email }}</h5>
        </section>

        <section class="col feature">
           <h5 class="font-weight-bold"><i class="fas fa-window-maximize"></i></h5>
            <h5 class="font-weight-bold"><a href="{{ therapist.website }}">{{ therapist.clinic }}</a></h5>
        </section>

        <section class="col feature">
            <h5 class="font-weight-bold"><i class="fas fa-map-marker-alt"></i></h5>
            <h5 class="font-weight-bold">{{ therapist.county }} County</h5>
        </section>
    </div>
</div>

<!--<div class="therapist-details-two">
    <div class="row text-center">
        <div id="details" class="row">

                <div class="col-lg col-4">
                    <h5 class="font-weight-bold"><i class="fas fa-envelope"></i></h5>
                    <h5 class="font-weight-bold">{{ therapist.email }}</h5>
                </div>


                <div class="col-lg col-4">
                    <h5 class="font-weight-bold"><i class="fas fa-window-maximize"></i></h5>
                    <h5 class="font-weight-bold"><a href="{{ therapist.website }}">{{ therapist.clinic }}</a></h5>
                </div>

                <div class="col-lg col-4">
                    <h5 class="font-weight-bold"><i class="fas fa-map-marker-alt"></i></h5>
                    <h5 class="font-weight-bold">{{ therapist.county }} County</h5>
                </div>

        </div>
    </div>
</div>

<!-- Description -->    
<div class="therapist-details-three">
    <div class="container-fluid">
        <div class="therapist-bio">
            <h2>Specialty/Services:</h2>
        </div>
            <p>
                {{ therapist.specialty }}
            </p>
            {% if current_user.is_authenticated %}
            <div class="favorite-thrpst">
                <form action="/therapists/{{ therapist.thrpst_id }}/fav-therapist" method="POST">
                    <button id="add-fav" class="btn btn-outline-dark btn-md">Click to Favorite</button>
                </form>
            </div>
            {% else %}
            <div class="favorite-thrpst">
                <p><b>Log in to favorite a therapist.</b></p>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>




<!--<img src='{{ therapist.img }}'>
<p>
    <h1>{{ therapist.name }}</h1>
</p>
<p>
    County: {{ therapist.county }}
</p>
<p>
    Email: {{ therapist.email }}
</p>
<p>
    Clinic: {{ therapist.clinic }}
</p>
<p>
    <a href="{{ therapist.website }}">{{ therapist.website }}</a>
</p>
<h4>Specialty/Services:</h4>
<p>
    {{ therapist.specialty }}
</p>
    {% if session %}
         <div class="favorite-button">
        <form action="/therapists/{{ therapist.thrpst_id }}/fav-therapist" method="POST">
            <button id="add-fav" class="btn btn-outline-dark btn-md">Click to Favorite</button>
        </form>
    {% endif %}
-->

{% endblock %}