{% extends 'base.html' %}
{% block title %}{{ therapist.name }} - Details{% endblock title %}

{% block body %}
<img src='{{ therapist.img }}'>
<p>
    <h1>{{ therapist.name }}</h1>
</p>
<p>
    County: {{ therapist.county }}
</p>
<p>
    Email: {{ therapist.email }}
</p>
<p>
    Clinic: {{ therapist.clinic }}
</p>
<p>
    <a href="{{ therapist.website }}">{{ therapist.website }}</a>
</p>
<h4>Specialty/Services:</h4>
<p>
    {{ therapist.specialty }}
</p>

{% if session['user_id'] %}
<form action="/therapists/{{ therapist.thrpst_id }}/fav-therapist" method="POST">
    <button id="add-fav">Click to favorite {{ therapist.name }}</button>
</form>
{% endif %}

{% endblock %}