{% extends 'base.html' %}
{% block title %}User Details{% endblock title %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>{{ user.email }}</h1>
            <p>
                <h4>Your Favorite Therapists:</h4>
            </p>

            <form action="/delete_favorite" id="list-favs" method='POST'>
                    {% for fav in joined_fav %}
                    <li>
                        <input type="checkbox" name="therapists" value="therapist-name">
                        <label>{{ fav }}</label>
                    </li>
                    {% endfor %}
            </form>
            <p>
                <button type="submit">Delete</button>
            </p>

            <p><a href='/therapists'>View Therapists</a></p>
            <a href='/'>Homepage</a>

         


        </div>
    </div>
</div>

{% endblock %}

