{% extends 'base.html' %}
{% block title %}User Details{% endblock title %}

{% block body %}

<div class="profile-card">
    <div class="account-title">
        <h2><b>Your Account</b></h2>
    </div>
    <div class="main-container">
        <p>Email: {{ user.email }}</p>
        <p>
            Zipcode: {{ user.zipcode }}
        </p>
    </div>
</div>
<div class="profile-card">
    <div class="fav-list">
        <h5>Your Favorite Therapist(s):</h5>
    </div>
    <div class="main-container">
        {% if list_favs != "List is empty." %}
            {% for fav in list_favs %}
                <div class="fav-list">
                        <label>{{ fav }}</label>
                </div>
            {% endfor %}
        {% endif %}

        {% if list_favs == "List is empty." %}
            <div class="empty-list">
                <p><b>(List is empty.)</b></p>
            </div>
        {% endif %}
    </div>
</div>

<!--<div class="container">
    <div class="row">
        <div class="col">

            <h1>{{ user.email }}</h1>
            <p>
                <h4>Your Favorite Therapists:</h4>
            </p>

            <form action="/delete_favorite" id="list-favs" method='POST'>
                    {% for fav in list_favs %}
                    <li>
                        <input type="checkbox" name="therapist" id="therapist_name">
                        <label>{{ fav }}</label>
                    </li>
                    {% endfor %}
                    <p>
                        <button type="submit">Delete</button>
                    </p>
            </form>

         


        </div>
    </div>
</div>-->

{% endblock %}

