{% extends 'base.html' %}
{% block title %}User Details{% endblock title %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>{{ user.email }}</h1>
            {{ user.zipcode }}
            <p>
                <h4>Your Favorite Therapists:</h4>
            </p>

            <ul id='user-favs'>
              {% for fav in joined_fav %}
                    <li>
                        <p>{{ fav }}</p>
                    </li>
                {% endfor %}
            </ul>

            <a href='/therapists'>View Therapists</a> 
            <a href='/'>Homepage</a>

         


        </div>
    </div>
</div>

{% endblock %}

